<form role="form">
	<div class="form-group">
		<label for="title" class="contol-label"> Title </label>
		<input type="text" ng-model="movie.title" class="form-control" id="title" placeholder="Enter the Movie title">
	</div>
<!-- ng-model assings value to scope varialble -->

	<div class="form-group">
			<label for="title" class="contol-label"> URL </label>
			<input type="text" ng-model="movie.url" class="form-control" id="title" placeholder="Enter the youtube path">
	</div>
	<input type="submit" class="btn btn-primary" ng-click="saveMovie()" value="Save">
</form>
	
