<a class="btn btn-primary" href="/#/create/note"><span class="glyphicon glyphicon-plus"></span> New Note</a>
<table class="table table-striped">
<thead>
	<th>Title</th>
	<th>URL</th>
	<th></th>
	<th></th>
	<th> Operations</th>
</thead>
<tbody>

	<tr ng-repeat='n in notess'>
		<td>
			<a ng-href="/#/note/{{n.identifier}}"> {{n.sub}} </a>
		</td>
		<td style="word-wrap: break-word;min-width: 160px;  min-height: 1px ;max-height: 120px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:120px;"> {{n.desc}} </td>
		<td></td>
		<td></td>
		<td>
			<div class = "button-group">
				<a ng-href="/#/note/edit/{{n.identifier}}" class="btn btn-default">
					<span class = "glyphicon glyphicon-edit"></span>
				</a>
				<a ng-href="/#/note/delete/{{n.identifier}}" class="btn btn-danger">
					<span class = "glyphicon glyphicon-remove-circle"></span>
				</a>
			</div>
		</td>
	</tr>
</tbody>
</table>

